<h1>Update CV</h1>

<form class="update-form" action="/edit" method="post">
        <label class="update-info__label" for="cv">CV</label>
        <textarea class="update-info__input" type="text" name="cv" id="cv"
          placeholder="Enter updated CV information" autocomplete="off" required rows=10></textarea>
          <hr />
        <input class="update-info__btn" type="submit" value="Submit"/>
</form>
