<h1> Meet the grads</h1>
<div class = 'container'>
  {{#each grads}}
    <div class = 'grad_item'>
      <a href="/profiles/{{this.first_name}}">
        <p> {{this.first_name}} </p>
        <img src = {{this.photo_url}}/>
      </a>
    </div>
  {{/each}}
</div>
