<header>
  <div> <p class:"edit" >Welcome {{this.profiles.first_name}} please add/update your cv:</p>

  <a href="../">
  <img src="../images/faclogo.png" alt="FAC Logo" />
  <img src="../images/kav.jpg" alt="Kav" />
</a>
</header>
