<header>
  {{#if logged_in}}
    <div> <p class="edit" >Welcome {{this.git_username}}. <a href="../edit">Click here to edit your CV</a> or <a href="../logout">click here to log out</a></p>
    </div>
  {{else}} <div> <p class="edit" >Welcome to the FACN Portal. <a href = '/login'>Please click here to log in.</a></p>
  </div>
  {{/if}}

  <a href="../">
  <img src="../images/faclogo.png" alt="FAC Logo" />
  <img src="../images/kav.jpg" alt="Kav" />
</a>
</header>
