<div id="leaderboardImage">
  <div id="overlay">
  <h2>Welcome to the FACN Portal.</h2>
  <p>This portal has been created to connect FACN graduates to Kav Mashve, our local recruitment partner. </p>
  <p>Learn more about each of our graduates from the Nazareth program.</p>
</div>
</div>
